extends layout

block content
  h1 Your Pages
  p.lead Create pages and view them together
  hr
  .row
    .col-md-10.col-md-offset-2
      a.btn.btn-success.btn-lg.mb-3(href="/pages/new") Create New Page
      .list-group
      each page in pages
        .card.mb-2
          .card-body
            .card-title.h3= page.name
            - const sharedWith = page.sharedWith.map(user => user.profile.name || user.email).join(', ')
            .card-text(style='white-space:pre; overflow: hidden; text-overflow: ellipsis;')
              | Shared with: #{sharedWith}
              | Created by: #{page.creator.profile.name || page.creator.email}
            .row.mt-2
              .col-md-1.col-sm-4
                a(href=`/pages/${page.id}`).btn.btn-primary View
              if (user.id === page.creator.id)
                .col-md-1.col-sm-4
                  a(href=`/pages/edit/${page.id}`).btn.btn-outline-danger Edit
